<!DOCTYPE html>
<html>
<head>
<title>Resume Template</title>


<link type="text/css" rel="stylesheet" href="style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>


</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		
		<div id="name">
			<h1 class="quickFade delayTwo" id="h_name" name="h_name">Name</h1>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <p id="mail" name="mail">MAIL</p></li>
				
				<li>m: <p id="phno" name="phno">Phone no.</p></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1 >Summary</h1>
				</div>
				
				<div class="sectionContent" id="summary" name="summary">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in, porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2 id="c_name" name="c_name">Company Name</h2>
					<h3 id="j_name" name="j_name">Job title</h3>
					<p class="subDetails" id="work_time" name="work_time">enrollment time</p>
					<p cass="summary" id="summary">summary about the work.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<p id="skill" name="skill">skills will be shown here</p>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2 id="college_name" name="college_name">College/University</h2>
					<p class="subDetails" id="qualif" name="qualif">Qualification</p>
					<p class="subDetails" id="col_time" name="col_time">time in college.</p>
				</article>
				<br>
				<article>
					<h2 id="School_name" name="college_name">School name</h2>
					<p class="subDetails" id="sch_qualif" name="sch_qualif">Qualification</p>
					<p class="subDetails" id="sch_time" name="sch_time">year qualified.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2 id="proj_name1" name="proj_name1">Project Name1</h2>
					<p class="subDetails" id="proj_detail1" name="proj_detail1">Project details1</p>
				</article>
				<article>
					<h2 id="proj_name2" name="proj_name2">Project name2</h2>
					<p class="subDetails" id="proj_detail2" name="proj_detail2">Project Details2</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>